# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-ast  # checks if files parse as valid python
    -   id: check-docstring-first  # checks for docstring defined after code
    -   id: debug-statements  # check for breakpoints()
    -   id: no-commit-to-branch
        args: ['--branch', 'main']
-   repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
    -   id: black
-   repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v2.0.2 
    hooks:
    -   id: autopep8

